.lightBox {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    z-index: 9999;
    .movieInfo {
        width: 100%;
        max-width: 800px;
        position: relative;
        background: rgba(17, 17, 17, 0.932);
        border-radius: 8px ;
        overflow: hidden;
        box-shadow: 5px 5px 25px #111;
        button {
            &.close {
                position: absolute;
                right: 1rem;
                top: 1rem;
            i {
                color: #FFF;
                font-size: 2.5rem;
                filter: drop-shadow(2px 2px 3px rgb(17, 17, 17));
            }
            }
        }
        img {
            width: 100%;
            max-height: 350px;
            object-fit: cover;
            object-position: center;
        }
        .info {
            padding: 2rem ;
            position: relative;
            
            h2 {
                color: #FFF;
                font-size: 3.5rem;
            }
            p {
                color: rgba(255, 255, 255, 0.877);
                margin-top: 1rem;
                line-height: 130%;
                font-size: 1.6rem;
            }
        }
    }
    @media screen and (max-width: 1050px) {
        .movieInfo {
            max-width: 90%;
        }
    }
}
