header {
    position: absolute;
    padding: 1.5rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        img {
            display: block;
            width: 100%;
            max-width: 200px;
            height: 5rem;
        }
    }
    nav {
        display: flex;
        align-items: center;
        height: 100%;        
        i {
            color: #FFF;
            margin-right: 4rem;
            font-size: 3rem;
            filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.473));
        }
        a {
            display: block;
            height: 100%; 
            filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.473));
            img {
                width: 100%;
                height: inherit;
                height: 5rem;
                max-width: 60px;
                border-radius: 5px;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .logo {
            img {
                height: 5rem;
            }
        }
        nav {
            a {
                img {
                    height: 5rem;
                }
            }
        }
    }

    @media screen and (max-width: 560px) {
        padding: 1.5rem;
        .logo {
            img {
                height: 3.5rem;
                width: 13rem;
            }
        }
        nav {
            i {
                font-size: 2.5rem;
                margin-right: 2.5rem;
            }
            a {
                img {
                    height: 3.5rem;
                    width: 3.5rem;
                }
                
            }
        }
    }
}