@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './components/MovieRow/movieRow';
@import './components/Hero/hero';
@import './components/Header/header';
@import './components/MovieInfo/movieInfo';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

html {
    font-size: 62.5%;
    @media screen and (max-width: 1300px) {
        font-size: 58%;
    }
}

body {
    background-color: #111;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

.allMovies {
    margin-top: -13rem;
    @media screen and (max-width: 850px) and (orientation: landscape) {
        margin-top: 0;
    }
}

.buttons {
    margin-top: 1.5rem;
    display: flex;
    button {
        padding: .8rem 2rem;
        border-radius: 5px;
        font-weight: 700;
        display: flex;
        align-items: center;
        transition: all .3s;
        &.watch {  
            background: #FFF;
            margin-right: 1rem;
            &:hover {
                background: darken(#FFF, 20%);
            }
        }
        &.myList {
            background: rgba(119, 118, 118, 0.6);
            color: #FFF;
            &:hover {
                background: darken(rgba(119, 118, 118, 0.6), 20%);
            }
        }
        i {
            font-size: 1.1rem;
            margin-right: .5rem;
        }
    }
}

